<html>
    {% load static %}
    {% load leaflet_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}  <!--to display map on home page-->
        <title>Home page</title>
        <style type = 'text/css'>
            #gis {width:100%; height:600px;}
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'layer/leaflet.groupedlayercontrol.css' %}">
        <link rel="icon" href="<%= BASE_URL %>favicon.ion">
        <script type="text/javascript" src="{% static 'layer/leaflet.groupedlayercontrol.js' %}"></script>
        <script type="text/javascript" src="{% static 'data/leaflet.ajax.js' %}"></script>
        <script type="text/javascript" src="http://js.api.here.com/v3/3.1/mapsjs-core.js" charset="utf-8"></script>
        <script type="text/javascript" src="http://js.api.here.com/v3/3.1/mapsjs-service.js" charset="utf-8"></script>
    </head>
    <body>
        <h3><b><i>QUARANTINE DAYS</i></b></h3>
        <br>
        <script type="text/javascript">
            function our_layers(map,options){
                var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);   
                var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
	                    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                    });
                var datasets = new L.GeoJSON.AJAX("{% url 'district' %}",{ 
                    style: function colors(feature){
                        switch(feature.properties.district){
                            case 'K':
                                return{
                                    color: 'brown',
                                    fillOpacity: 0.6
                                };
                            break;
                            case 'Kaski':
                                return{
                                    color: 'green',
                                    fillOpacity: 0.6
                                };
                            break;
                        }
                    },
                    onEachFeature: function(feature,layer){
                        layer.bindPopup(feature.properties.district.toString());
                    }
                });    
                datasets.addTo(map);
                var points = new L.GeoJSON.AJAX("{% url 'incidence' %}",{
                    onEachFeature: function(feature,layer){
                         layer.bindPopup(feature.properties.name.toString());  // to show more than one property??
                    }
                });
                points.addTo(map);
                //***** for layer adding *****
                var baseLayers={
                    'OSM': osm,
                    'Imagery': Esri_WorldImagery
                }
                var groupedOverlays = {
                    "Layers": {
                        "Districts": datasets,
                        "Cities": points
                    }
                };
                L.control.groupedLayers(baseLayers,groupedOverlays).addTo(map);
                //****** for routing *****
                
            }
        </script>
        {% leaflet_map "gis" callback="our_layers" %}    <!--no space on either side of '='-->
    </body>
</html>